## Question 1

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [59]:
a=0 # a is global variable
# b function will take the global variable a and then supply it to function c which increments it 
def b():
    global a # Now function b will be able to access global variable a
    a = c(a)
def c(a):
    return a + 2


b() # a = 0 + 2 
b() # a = 2 + 2
b() # a = 4 + 2
a

6

## Question 2

In [30]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {file_name} not found.")

file_length("FileLength.txt")

file_length("idterm.py")

123
File idterm.py not found.

## Question 3

In [21]:
class Marsupial:
    def __init__(self):
        self.array = []
        
    def put_in_pouch(self, itemName):
        self.array.append(itemName)
    
    def pouch_contents(self):
        print(self.array)
        
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        self.x = x
        self.y = y
        super().__init__()
   
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
        
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [28]:
def collatz(x):
    print(x)
    if x > 1:
        newX = x
        if x % 2 == 0:
            newX = x/2
        else:
            newX = 3 * x + 1
        collatz(int(newX))
        
print(">>> collatz(1)")        
collatz(1)       
print(">>> collatz(10)")            
collatz(10)

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

## Question 5

In [28]:
def binary(n, binaryValue = ""):
    if n > 1:
        reminder = n % 2
        binaryValue = str(reminder) + binaryValue
        binary(int(n/2), binaryValue)
    else:
        print(str(n) + binaryValue)
        
        
print("binary(0)")
binary(0)

print("binary(1)")
binary(1)

print("binary(3)")
binary(3)

print("binary(9)")
binary(9)

binary(0)
0
binary(1)
1
binary(3)
11
binary(9)
1001

## Question 6

In [27]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    indentation = -1
        
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.indentation = 0
        elif tag == 'h2':
            self.indentation = 1
        elif tag == 'h3':
            self.indentation = 2
        elif tag == 'h4':
            self.indentation = 3
        elif tag == 'h5':
            self.indentation = 4            
        elif tag == 'h6':
            self.indentation = 5
        else:
            self.indentation = -1
               

    def handle_data(self, data):
        if data.strip() != "":
            printWithIndentation(data, self.indentation)
        

def printWithIndentation(text, indentation):
    if indentation >= 0:
        print(f"{' ' * indentation}{text}")        

infile = open('w3c.html') 
content = infile.read() 
infile.close() 

headingParser = HeadingParser()
headingParser.feed(content)

W3C Mission
 Principles

## Question 7

In [57]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class LinkAnalyser(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links


def webdir(url, depth, indent):
    resource = urlopen(url)
    content = resource.read().decode()
    linkAnalyser = LinkAnalyser(url)
    linkAnalyser.feed(content)
    for link in linkAnalyser.getLinks():
        print(f"{' ' * indent}{link}")
        if depth > 0:
            webdir(link, depth -1, indent + 1)
    
    
    
webdir('http://www.example.com', 1, 0)

https://www.iana.org/domains/example
 https://www.iana.org/
 https://www.iana.org/domains
 https://www.iana.org/protocols
 https://www.iana.org/numbers
 https://www.iana.org/about
 https://www.iana.org/go/rfc2606
 https://www.iana.org/go/rfc6761
 http://www.icann.org/topics/idn/
 http://www.icann.org/
 https://www.iana.org/domains/root/db/xn--kgbechtv.html
 https://www.iana.org/domains/root/db/xn--hgbk6aj7f53bba.html
 https://www.iana.org/domains/root/db/xn--0zwm56d.html
 https://www.iana.org/domains/root/db/xn--g6w251d.html
 https://www.iana.org/domains/root/db/xn--80akhbyknj4f.html
 https://www.iana.org/domains/root/db/xn--11b5bs3a9aj6g.html
 https://www.iana.org/domains/root/db/xn--jxalpdlp.html
 https://www.iana.org/domains/root/db/xn--9t4b11yi5a.html
 https://www.iana.org/domains/root/db/xn--deba0ad.html
 https://www.iana.org/domains/root/db/xn--zckzah.html
 https://www.iana.org/domains/root/db/xn--hlcj6aya9esc7a.html
 http://www.icann.org/en/registries/agreements.htm
 https://www.iana.org/assignments/special-use-domain-names
 https://www.iana.org/go/rfc6761
 https://www.iana.org/domains
 https://www.iana.org/domains/root
 https://www.iana.org/domains/root
 https://www.iana.org/domains/root/db
 https://www.iana.org/domains/root/files
 https://www.iana.org/domains/root/manage
 https://www.iana.org/domains/root/help
 https://www.iana.org/domains/root/servers
 https://www.iana.org/domains/int
 https://www.iana.org/domains/int
 https://www.iana.org/domains/int/manage
 https://www.iana.org/domains/int/policy
 https://www.iana.org/domains/arpa
 https://www.iana.org/domains/idn-tables
 https://www.iana.org/domains/idn-tables
 https://www.iana.org/procedures/idn-repository.html
 https://www.iana.org/dnssec
 https://www.iana.org/dnssec
 https://www.iana.org/dnssec/files
 https://www.iana.org/dnssec/ceremonies
 https://www.iana.org/dnssec/procedures
 https://www.iana.org/dnssec/tcrs
 https://www.iana.org/dnssec/archive
 https://www.iana.org/domains/reserved
 https://www.iana.org/domains
 https://www.iana.org/domains/root
 https://www.iana.org/domains/int
 https://www.iana.org/domains/arpa
 https://www.iana.org/domains/idn-tables
 https://www.iana.org/numbers
 https://www.iana.org/abuse
 https://www.iana.org/protocols
 https://www.iana.org/protocols
 https://www.iana.org/time-zones
 https://www.iana.org/about
 https://www.iana.org/about/presentations
 https://www.iana.org/reports
 https://www.iana.org/performance
 https://www.iana.org/reviews
 https://www.iana.org/about/excellence
 https://www.iana.org/contact
 http://pti.icann.org
 http://www.icann.org/
 https://www.icann.org/privacy/policy
 https://www.icann.org/privacy/tos

## Question 8

In [60]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.42.tar.gz (8.3 MB)
     |████████████████████████████████| 8.3 MB 3.9 MB/s eta 0:00:01
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 6.4 MB/s eta 0:00:01
Requirement already satisfied: six in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython-sql) (1.16.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.tar.bz2 (21 kB)
Requirement already satisfied: ipython>=1.0 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.5.0)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: pygments>=2.4.0 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: traitlets>=5 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.3.0)
Requirement already satisfied: jedi>=0.16 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: executing in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.0.0)
Requirement already satisfied: pure-eval in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: wcwidth in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/lib/python3.8/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.7.0)
Using legacy 'setup.py install' for sqlalchemy, since package 'wheel' is not installed.
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: sqlalchemy, sqlparse, prettytable, ipython-sql
    Running setup.py install for sqlalchemy ... done
    Running setup.py install for prettytable ... done
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-1.4.42 sqlparse-0.4.3
WARNING: You are using pip version 20.2.3; however, version 22.3 is available.
You should consider upgrading via the '/Users/linto/Desktop/Assignments/Semester1/Data Programming/Jupyter/bin/python3 -m pip install --upgrade pip' command.

In [3]:
import sqlite3
connection = sqlite3.connect('web.db')
cursor = connection.cursor()
cursor.execute("CREATE TABLE TempData (City text, Country text, Season text, Temperature real, Rainfall real)")

In [4]:
cursor.execute("INSERT INTO TempData VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cursor.execute("INSERT INTO TempData VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cursor.execute("INSERT INTO TempData VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cursor.execute("INSERT INTO TempData VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cursor.execute("INSERT INTO TempData VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cursor.execute("INSERT INTO TempData VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cursor.execute("INSERT INTO TempData VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cursor.execute("INSERT INTO TempData VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cursor.execute("INSERT INTO TempData VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cursor.execute("INSERT INTO TempData VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cursor.execute("INSERT INTO TempData VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cursor.execute("INSERT INTO TempData VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5 )")

In [14]:
print("a) All the temperature data.")
cursor.execute("SELECT * FROM TempData")
print(cursor.fetchall())

print("\nb) All the cities, but without repetition.")
cursor.execute("SELECT DISTINCT City FROM TempData")
print(cursor.fetchall())

print("\nc) All the records for India.")
cursor.execute("SELECT * FROM TempData WHERE Country = 'India'")
print(cursor.fetchall())


print("\nd) All the Fall records.")
cursor.execute("SELECT * FROM TempData WHERE Season = 'Fall'")
print(cursor.fetchall())


print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters")
cursor.execute("SELECT * FROM TempData WHERE Rainfall > 200 AND Rainfall < 400")
print(cursor.fetchall())

print("\n\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
cursor.execute("SELECT * FROM TempData WHERE Temperature > 20 ORDER BY Temperature")
print(cursor.fetchall())

print("\ng) The total annual rainfall for Cairo.")
cursor.execute("SELECT SUM(Rainfall) FROM TempData WHERE City = 'Cairo'")
print(cursor.fetchall())

print("\nh) The total rainfall for each season.")
cursor.execute("SELECT Season, SUM(Rainfall) FROM TempData GROUP BY Season")
print(cursor.fetchall())

a) All the temperature data.
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

b) All the cities, but without repetition.
[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.
[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]


f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
[('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5), ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Spring', 28.4, 16.2)]

g) The total annual rainfall for Cairo.
[(27.6,)]

h) The total rainfall for each season.
[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

## Question 9

In [25]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
print("a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']")
list1 = []
for word in words:
    list1.append(word.upper())
print(list1)


print("\nb) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']")
list2 = []
for word in words:
    list2.append(word.lower())
print(list2)


print("\nc) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).")
list3 = []
for word in words:
    list3.append(len(word))
print(list3)



print("\nd) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)")
list4 = []
for word in words:
    list4.append([word.upper(), word.lower(), len(word)])
print(list4)



print("\ne) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)")
list5 = []
for word in words:
    if len(word) >= 4:
        list5.append(word)
print(list5)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
[3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)
['quick', 'brown', 'jumps', 'over', 'lazy']